<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.freveil.fsoft.freveil">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Parametres" />
        <activity android:name=".MenuReveil" />
        <activity android:name=".ajoutRappel" />
        <activity android:name=".modificationRappel" />
        <activity android:name=".quandDate" />
        <activity android:name=".quandJour" />
        <activity android:name=".quandHeure" />
        <activity android:name=".ajoutCommande" />
        <activity android:name=".quandMenu" />
        <activity android:name=".quandMinute" />
        <activity android:name=".affichageCommande" />
        <activity android:name=".suppressionCommande" />
        <activity android:name=".modifierCommande" />
        <activity android:name=".supprimeRappel" />
        <activity android:name=".modifieRappel" />
        <activity android:name=".Configuration"></activity>
    </application>

</manifest>